*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
header{
  padding: 20px;
  background: #000;
  color: #fff;
  letter-spacing: 2px;}

.burger-menu{
  display: none;
  position: relative;
  cursor: pointer;
}
.burger-menu .burger{
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 5px;
  margin-bottom: 4px;
  background: #fff;
}

section{
  padding: 20px;
  background: #fff;
  display: flex;
}
section#video{
  background: #000;
  height: 50vh;
}

.contentbox{
  padding: 10px;
}
.aboutme{
  display: block;
  height: 500px;
}
.content{
  width: 33.3%;
  min-width: 260px;
  height: 200px;
  margin: 0px auto;
  margin-right: 10px;
  background: grey;
  padding: 50px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 2s ease-out;
}
.content:nth-child(3){
  margin-right: 0;
}
.content .front{
  transform: rotateY(0deg);
  transition: 3s;
}
.content .back{
  transform: rotateY(180deg);
  transition: 3s;
}
.content .front,
.content .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  padding: 10px;
}
/* Animate Content Boxes */
.content:hover {
  transform: rotateY(540deg);
}



ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
li{
  display: inline-block;
  padding: 0px 20px 0px 20px;
}
video{
  object-fit: cover;
}
footer{
  padding: 20px;
  background: #000;
  color: #fff;
  height: 200px;
}
.social{
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-155px);
  width: 100%;
  text-align: center;
  color: #ddd;
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.2em;
}
h1 span{
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}

h1 span:nth-child(1){
  animation-delay: .5s; 
}
h1 span:nth-child(2){
  animation-delay: 1s; 
}
h1 span:nth-child(3){
  animation-delay: 1.25s; 
}
h1 span:nth-child(4){
  animation-delay: 1.5s; 
}
h1 span:nth-child(5){
  animation-delay: 1.75s; 
}
h1 span:nth-child(6){
  animation-delay: 2.5s; 
}
h1 span:nth-child(7){
  animation-delay: 2.75s; 
}
h1 span:nth-child(8){
  animation-delay: 2.9s; 
}
h1 span:nth-child(9){
  animation-delay: 3s; 
}
h1 span:nth-child(10){
  animation-delay: 3.255s; 
}
h1 span:nth-child(11){
  animation-delay: 3.5s; 
}
h1 span:nth-child(12){
  animation-delay: 3.75s; 
}

@keyframes animate{
  0%{
      opacity: 0;
      transform: rotateY(180deg);
      filter: blur(20px);
  }
  100%{
      opacity:1;
      transform: rotateY(0deg);
      filter: blur(0px);
  }
}

#video{
    height: 50vh;
}

@media screen and (max-width: 768px){
  .nav-links{
    opacity: 0;
    font-size: 25px;
  }
  .nav-links.open{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
    z-index: 100;
    opacity: 1;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li.fade{
    opacity: 1;
  }
  .nav-links li:nth-child(1){
    transition: all 3s ease 0.25s;
  }
  .nav-links li:nth-child(2){
    transition: all 4s ease .75s;
  }
  .nav-links li:nth-child(3){
    transition: all 5s ease 1.25s;
  }
  .burger-menu{
    display: block;
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 100;
  }
  video{
    display: none;
  }
  #video h1 span{
    font-size: 40px;
  }
  h1 span:nth-child(7){
    display: flex;
    margin-top: 0;
    margin-left: 0;
  }
  #video h1{
    top: 40%;
  }
}